.header {
  margin-top: 45px;
  margin-bottom: 10px;
  display: flex;
  align-items: stretch;
  padding-bottom: 10px;
  color: rgb (84, 84, 84, 0.7);
}
@media screen and (max-width: 720px) {
  .header__logo {
    width: 126px;
    height: 24px;
  }
}
