.page {
  background-color: black;
  color: #ffffff;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./fonts/Inter-Black.woff2) format("woff2");
}

.page__section {
  max-width: 880px;
  width: 100%;
  margin: 0 auto;
}

.page__content {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}
